/* IMPORT FONTS AND ANT DESIGN CSS */

/* @import url('https://fonts.googleapis.com/css?family=Economica');
@import '~antd/dist/antd.css'; */
/* 
MOCK BODY SIZE
.content {
  padding-bottom: 800px;
} */

.productScroll{
  overflow: scroll;
  height:90vh;
  margin-top: 10px;
}